<html ng-app="postExample">
<title>Search</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>  
<script src="/public/javascripts/usersController.js"></script>
<script src="/public/javascripts/userRepoService.js"></script>
<script src="/public/javascripts/userRepoService2.js"></script>
<script src="/public/javascripts/userRepoService3.js"></script>
<script src="/public/javascripts/userRepoService4.js"></script>
<script src="/public/javascripts/userRepoService5.js"></script>
<script src="/public/javascripts/userRepoService6.js"></script>
<script src="/public/javascripts/userRepoService7.js"></script>
<link rel="stylesheet" type="text/css" href="style.css"></html>
    <body ng-app style="text-align:center;" ng-controller="UsersController"> 
 <h1>Search</h1>
    <form method="POST" action="/admin/searchclient">
    <table id="abc" style="width:100%">
    <tr>
    <td/>
    <td>
    Client/Account Name:       
    <select name="name" id="UserSelector" style="width: 100%;">
        <option value=""></option>
      <option ng-repeat="user in users" value="{{user.name}}">{{user.name}}</option>
    </select>
    </td>
    <td>
    <input type="radio" name="Active" value="active">Active
    <input type="radio" name="Active" value="inactive">Inactive
    <br>
    <br>
    </td>
    </tr>
    <tr>
    <br>
    <br>
    </tr>
    <tr>
    <td>
    Hosting type:
    <br>
    <br>
    </td>
    <td>
    <input type="radio" name="hostingtype" value="onpremise">On-Prem
    <input type="radio" name="hostingtype" value="saas">SaaS
    <br>
    <br>
    </td>
    <td>
    Industry:
    <br>
    <br>
    </td>
    <td>
    <select name="industry" style="width: 100%;">
    <option value=""></option>
      <option ng-repeat="industry in industries" value="{{industry.name}}">{{industry.name}}</option>
    </select>
    <br>
    <br>
    </td>
    </tr>
    <tr>
    <td>
    Geography/IOT/GMU:
    <br>
    <br>
    </td>
    <td>
    <select name="geography">
    <option value=""></option>
      <option ng-repeat="geography in geographies" value="{{geography.name}}">{{geography.name}}</option>
    </select>
    <br>
    <br>
    </td>
    <td>
    Region/IMT/GMT:
    <br>
    <br>
    </td>
    <td>
    <select name="region">
    <option value=""></option>
      <option ng-repeat="region in regions" value="{{region.name}}">{{region.name}}</option>
    </select>
    <br>
    <br>
    </td>
    </tr>
    <tr>
    <td>
    Location:
    <br>
    <br>
    </td>
    <td>
    <input type="text" name="location" size="20">
    <br>
    <br>
    </td>
    <td>
    EDI Standards used:
    <br>
    <br>
    </td>
    <td>
    <select name="edi">
    <option value=""></option>
      <option ng-repeat="edi in edis" value="{{edi.name}}">{{edi.name}}</option>
    </select>
    <br>
    <br>
    </td>
    </tr>
    <tr>
    <td>
    Lifecycle of the Client:
    </td>
    <td>
    <input type="radio" name="lifecycle" value="implementation">Implementation
    <br>
    <input type="radio" name="lifecycle" value="migration">Migration
    <br>
    From<input type="date" name="fromdate" />
    To<input type="date" name="todate" />
    <br>
    <input type="radio" name="lifecycle" value="product enhancement/support">Product Enhancement/Support
    </td>
    <td>
    ICN #:
    </td>
    <td>
    <input type="text" name="icn" size="20">
    </td>
    </tr>
    </table>
    <br>
    <br>
    <button type="submit" ng-click="submit()">Go</button>
    </form>
    <br>
    <button type="button" onclick="location.href = '/admin';">Back</button>
    
  </body>

</html>
