<html>
  <head>
    <title>B2B CLIENT REPOSITORY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" href="styles.css"> -->

    <!-- 1. Load libraries -->
    <!-- IE required polyfill -->
   <!-- <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>

    <script src="node_modules/rxjs/bundles/Rx.umd.js"></script>
    <script src="node_modules/@angular/core/bundles/core.umd.js"></script>
    <script src="node_modules/@angular/common/bundles/common.umd.js"></script>
    <script src="node_modules/@angular/compiler/bundles/compiler.umd.js"></script>
    <script src="node_modules/@angular/platform-browser/bundles/platform-browser.umd.js"></script>
    <script src="node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script> -->

    <!-- 2. Load our 'modules' -->
    <script src='/javascripts/angularApp.js'></script>
    <script src='user.html'></script>
    <script src="adminstart.html"></script>

  </head>

  <!-- 3. Display the application -->
  <body style="text-align:center; font-size:150%;" ng-app="flapperNews" ng-controller="MainCtrl">
<h1>Welcome!</h1>
<form>
Username:
<input type="text" name="username" size="20">
<br>
<br>
<br>
Password:
<input type="password" name="password" size="20">
<br>
<br>
<br>
<button type="button" name="user" onclick="location.href = '/user';">Login as User</button>
<button type="button" name="admin" onclick="location.href = '/admin';">Login as Admin</button>
</form>
</body>
</html>